
# Dependencies
node_modules/
jspm_packages/
web_modules/

# Environment variables (Contains secrets like API keys)
.env
.env.local
.env.*.local

/public/

# Build directories (Optional - uncomment if using TypeScript/Build tools)
/dist/
edge_app_profile